-- vim: set ft=haskell:
Config { font = "xft:Hack Nerd Font:pixelsize=16"
    , additionalFonts = []
    , borderColor = "#2e3440"
    , border = TopB
    , bgColor = "#1D1F21"
    , fgColor = "grey"
    , alpha = 255
    , position = Top
    , textOffset = -1
    , iconOffset = -1
    , lowerOnStart = True
    , pickBroadest = False
    , persistent = False
    , hideOnStart = False
    , iconRoot = "."
    , allDesktops = True
    , overrideRedirect = True
    , commands = [ 
        Run Weather "EGPF" ["-t","Düsseldorf: <tempC>C",
            "-L","18","-H","25",
            "--normal","green",
            "--high","red",
            "--low","lightblue"] 36000
        , Run Cpu ["-L","3","-H","50",
            "-t", "<total>%"] 10
        , Run Memory ["-t", "<used>/<total> Mib"] 20
        , Run Swap [] 10
        , Run Com "uname" ["-r"] "" 36000
        , Run Date "%Y-%m-%d" "date" 100
        , Run Date "%H:%M:%S" "time" 10
        , Run Battery [ "--template", "<acstatus>"
            , "--Low", "15"
            , "--"
            , "--off", "<left>%"] 100
        , Run UnsafeStdinReader
    ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%UnsafeStdinReader%}\
        \{\
        \<fc=#B48EAD> %memory%</fc>|\
        \<fc=#5E81AC> %cpu%</fc>|\
        \<fc=#88C0D0> %time%</fc>|\
        \<fc=#A3BE8C> %date%</fc>|\
        \<fc=#EBCB8B> %EGPF%</fc>|\
        \<fc=#D08770> %uname% </fc>|\
        \<fc=#BF6168> %battery%</fc>"
}
